<div class="row">
  <div class="col-md-12 pt-5" >
    <div class="card  text-center"  >
      <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <!--<img class="card-img-top" src="{{hijo.img}}" width="200" height="250" alt="imagen app">-->
            <mat-icon matSuffix >account_circle</mat-icon>
          </div>
          <div class="col-sm-8">
            <h1 class="card-title">
              <!--{{hijo.name| uppercase}}-->
              nombre
            </h1>
            <p class="card-text">apellido: {{hijo.version}}</p>
            <p class="card-text">correo usuario: {{hijo.date}}</p>
            <p class="card-text">direccion: {{hijo.weight}}</p>

          </div>
          <div class="col-sm-2">
            <button mat-raised-button color="primary" >Completar Orden</button>
          </div>


        </div>

      </div>

    </div>

  </div>
  <div class="col-md-12 pt-5" >
    <div class="card  text-center"  >
      <div class="card-body">
        <div class="row">
          <div class="col-sm-1">

          </div>
          <!---->
          <div class="col-sm-8">
            <h1 class="card-title">
              <!--{{hijo.name| uppercase}}-->
              nombre
            </h1>
            <p class="card-text">apellido: {{hijo.version}}</p>
            <p class="card-text">correo usuario: {{hijo.date}}</p>
            <p class="card-text">direccion: {{hijo.weight}}</p>

          </div>
          <div class="col-sm-3">
            <button mat-raised-button color="accent" >Editar Datos de Facturación</button>
          </div>


        </div>

      </div>

    </div>

  </div>
  <div class="col-md-12 pt-5" >
    <div class="card  text-center"  >
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <!--<img class="card-img-top" src="{{hijo.img}}" width="200" height="250" alt="imagen app">-->
            imagen
          </div>
          <div class="col-sm-6">
            <h1 class="card-title">
              <!--{{hijo.name| uppercase}}-->
              nombre
            </h1>
            <p class="card-text">Versión: {{hijo.version}}</p>
            <p class="card-text">Fecha Lanzamiento: {{hijo.date}}</p>
            <p class="card-text">Peso GB: {{hijo.weight}}</p>
            <p class="card-text">Precio: {{hijo.price|currency}}</p>
          </div>
          <div class="col-sm-2">
            <button mat-raised-button color="warn" >Eliminar</button>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>



