<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let padre of padres">
    <div class="card  text-center" (click)="mostrarDetallePadre(padre)">
      <div class="card-body">
        <h5 class="card-title">{{padre.name}}</h5>
        <img class="card-img-top" src="{{padre.img}}" alt="imagen SO">
        <p class="card-text">{{padre.api}}</p>
        <!--<a href="#" class="btn btn-primary">Buy Tickets</a>-->
      </div>
      <div class="card-footer text-muted">
        fecha lanzamiento: {{padre.date | date:'shortDate'}}
      </div>
    </div>
  </div>
</div>

<!--<app-descripcion-padre [padre]="selectedPadre"></app-descripcion-padre>-->




