<div class="row mt-5">
  <div class="col-md-3 mb-3" *ngFor="let hijo of hijos">
    <div class="card text-center">
      <div class="card-body">
        <img class="card-img-top" src="{{hijo.img}}" alt="imagen app">
        <h5 class="card-title">{{hijo.name}}</h5>
        <p class="card-text">{{hijo.version}}</p>
        <!--<a href="#" class="btn btn-success">Buy Tickets</a>-->
      </div>
      <div class="card-footer text-muted">
        {{hijo.date | date:'shortDate'}}
      </div>
    </div>
  </div>
</div>
